<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/static/global.css">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <meta charset="UTF-8">
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            {{range .categories}}
            <tr>
                <td>{{.Id}}</td>
                <td>
                    <a href="/category/{{.Id}}">{{.Name}}</a>
                </td>
            </tr>
            {{end}}
        </tbody>
    </table>
</body>
</html>