<!DOCTYPE html>
<html>
<body>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            {{range .categories}}
            <tr>
                <td>{{.Id}}</td>
                <td>
                    <a href="/category/{{.Id}}">{{.Name}}</a>
                </td>
            </tr>
            {{end}}
        </tbody>
    </table>
</body>
</html>